/*Common Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}
/*End of Common Style*/

/*Navbar start*/

.navbar {
    width: 100%;
    height: 15vh;
    position: fixed;
    background: black;
    top: -14.5vh;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .1rem .1rem 1rem black;
    transition: top 0.5s;
}

.navbar.change {
    top: 0;
    transition: top .5s 0.3s;
}

.nav-link {
    color: #aaa;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

.change .nav-link {
    opacity: 1;
}

.change .nav-link:nth-child(1) {
    transition: opacity .4s .5s,color 0.5s;
}

.change .nav-link:nth-child(2) {
    transition: opacity .4s .7s,color 0.5s;
}

.change .nav-link:nth-child(3) {
    transition: opacity .4s .9s,color 0.5s;
}

.change .nav-link:nth-child(4) {
    transition: opacity .4s 1.1s,color 0.5s;
}

.change .nav-link:nth-child(5) {
    transition: opacity .4s 1.3s,color 0.5s;
}

.nav-link:hover {
    color: wheat;
}

.nav-link i {
    font-size: 3.5rem;
}

.nav-link span {
    font-size: 1.1rem;
    font-weight: 900;
    margin-top: .2rem;
}

.menu {
    width: 3rem;
    height: 4rem;
    background: black;
    position: fixed;
    top: 2vh;
    left: 2rem;
    z-index: 20;
    cursor: pointer;
    border-radius: 20rem 20rem 13rem 13rem;
    box-shadow: .1rem .1rem .2rem black,
        -.1rem -.1rem .2rem black;
    transition: top .5s;
}

.menu.change {
    top: 16vh;
    transition: top .3s 0.2s;
}

.menu::before {
    content: '';
    width: .1rem;
    height: 16vh;
    background: black;
    position: absolute;
    top: -15vh;
    left: 1.4rem;
    box-shadow: -.1rem -.1rem .3rem black;
}

/*Navbar end*/

/*Section-1 start*/
.section-1 {
    width: 100%;
    height: 100vh;
    background: #888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
/*    position: relative;*/
}

.section-heading {
    font-size: 5rem;
    font-weight: 900;
    color: whitesmoke;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 1px 10px black;
    letter-spacing: 0.5rem;
}

.section-1-icons i{
    font-size: 12rem;
    color: darkgoldenrod;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.3s;
    text-shadow: .5px .05px 5px black;
}

.section-1-icons i.change{
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.3s 0.3s;
}

/*Section-1 end*/

/*Section-2 start*/
.section-2 {
    width: 100%;
    height: 110vh;
    display: flex;
    background: linear-gradient(#777, #555);
    flex-direction: column;
/*    align-items: center;*/
    padding: 5rem 0;
    justify-content: space-between;
}

.card-container{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 20rem;
    height: 450px;
    background: #a79a2d;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 20px black;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-2rem);
    box-shadow: 2px 2px 40px black;
}

.card::before {
    content: '';
    height: 100%;
    width: 0.5rem;
    background: #817824;
    position: absolute;
    top: 0;
    left: -0.5rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem 0.1rem .4rem black;
}

.card::after {
    content: '';
    height: 0.5rem;
    width: 100%;
    background: #817824;
    position: absolute;
    top: -.5rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: 0.1rem -0.1rem .4rem black;
}

.card-img {
    width: 100%;
    margin: 0 auto;
}

.card-heading h3{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-shadow: 0.15rem 0.15rem 0.5rem black;
}

.card-btn {
    width: 70%;
    padding: 0.5rem 1rem;
    text-align: center;
    color: aqua;
    background: gray;
    border-radius: 15px;
    box-shadow: 0.15rem 0.15rem 0.5rem black;
    margin: 1.2rem;
    text-transform: capitalize;
    border: none;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: .1rem;
    cursor: pointer;
}

/*Section-2 end*/

/*Section-3*/
.section-3 {
    background: #333;
    padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.gallery-link {
    position: relative;
    margin: 2rem;
}

.gallery-link::before {
    content: '';
    position: absolute;
    top: 2vw;
    left: 80%;
    width: .2rem;
    height: 0;
    z-index: 10;
    background: #fff;
    transition: height .3s;
}

.gallery-link:hover::before {
    height: 80%;
}

.gallery-link::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 2vw;
    width: 0;
    height: .2rem;
    background: #fff;
    transition: width .5s;
}

.gallery-link:hover::after {
    width: 80%;
}

.food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem #e92929,
        .5rem .5rem .1rem #a2e946,
        .7rem .7rem .1rem #297ce9,
        .9rem .9rem .1rem #e92999;
    transition: all .5s;
}

.gallery-link:hover .food-img {
    box-shadow: 0.6rem .6rem .1rem #e92929,
        1rem 1rem .1rem #a2e946,
        1.4rem 1.4rem .1rem #297ce9,
        1.8rem 1.8rem .1rem #e92999;
    filter: blur(0.25rem);
    opacity: .5;
    transform: scale(1.1);
}

.food-name {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: antiquewhite;
    width: 0;
    overflow: hidden;
    transition: width .5s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s .5s;
}

.food-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
/*    text-align: justify;*/
    width: 70%;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s .5s;
}

/*Section-3 end*/

/*Section-4 start*/

.section-4 {
    width: 100%;
    height: 30vh;
    background: #222;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem 0;
    position: relative;
}

.section-4-txt {
    text-transform: uppercase;
}

.section-4-heading {
    font-size: 3rem;
    font-weight: 900;
    color: whitesmoke;
}

.section-4-paragraph {
    color: #888;
    font-size: 1rem;
}

.signup-form {
    display: flex;
    align-items: center;
}

.signup-form-input {
    width: 25rem;
    height: 5rem;
    padding: 1rem;
    border: .2rem solid #a79a2d;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.signup-form-input::placeholder {
    color: #999;
}

.signup-form-btn {
    position: relative;
    left: -3rem;
    width: 2rem;
    height: 2rem;
    background: #333;
    color: #999;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.copyright {
    position: absolute;
    bottom: 1rem;
    color: #eee;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    border-top: .1rem solid black;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}

/*Section-4 end*/

/*Responsive*/

@media (max-width: 1440px) {
    html {
        font-size: 80%;
    }
    
    .section-2 {
        height: auto;
        padding: 10rem 0;
    }
    
    .card-container {
        margin-top: 7rem;
    }
    
    .gallery-link {
        width: 30rem;
        height: 25rem;
    }
    
    .food-img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .section-heading{
        margin: 0 5rem;
    }
    
    .section-1-icons i {
        font-size: 20rem;
    }
    
    .card-container {
        flex-wrap: wrap;
    }
    
    .card {
        margin: 5rem;
    }
}

@media (max-width: 900px) {
    .nav-link{
        margin: 2rem;
    }
    
    .nav-link i {
        font-size: 4rem;
    }
    
    .nav-link span {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .section-heading {
        font-size: 4rem;
        margin: 0 10rem;
    }
    
    .section-1-icons i {
        font-size: 14rem;
    }
    
    .gallery-link{
        margin: 5rem;
    }
    
    .section-4 {
        height: 40rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media(max-width: 550px) {
    html{
        font-size: 50%;
    }
    .nav-link {
        margin: 0 .7rem;
    }
    .card {
        height: 30rem;
    }
    
}

/*Responsive end*/
